#simple-token-movement > section {
  display: block !important;
}

.token-controller-content {
  overflow: hidden;
}

.token-controller-tabs {
  height: 10%;
  font-size:32px;
}

.container {
  height: 90%;
}

.scrollable-div {
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* For WebKit browsers like Chrome and Safari */
}

.token-controller-grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  height:360px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 6px;
  vertical-align: middle;
  text-align: center;
  font-size: 64px;
}

.character-image {
  height: 64px;
  margin-top: 10px;
  padding: none;
  border:none;
  border-radius: 6px;
}
