
.outer-square {
  left: 0;
  width: 90%;
  height: 90%;
  background: url('https://th.bing.com/th/id/OIP.W9HpRHIFqLBCUo63qCFSDAHaKO?rs=1&pid=ImgDetMain');
  margin: 5%;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  border:1px solid black;
  border-radius: 10px;
}
.inner-grid {
  width: 33.3%;
  height: 33.3%;
  display: table;
}
.inner-square {
  line-height: 100%;
  font-size: 50px;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

img.character-icon {
  border:none !important;
}

