section.window-content {
  overflow-y: scroll; /* Enables vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

section.window-content::-webkit-scrollbar {
  display: none; /* For WebKit browsers like Chrome and Safari */
}

.character-name {
  font-size: xx-large;
  margin-bottom:20px;
 }
 
 span.class-details {
  font-size: large;
}

.attributes {
  text-align: center;
}

.top-section-bg {
  border-radius: 10px;
  box-shadow: inset 3px 3px 3px black;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.character-image {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  border-radius: 10px;
  outline: none !important;
  border: non !important;
  opacity: 1;
  filter: brightness(1.25) contrast(1.25);
}

.right-buttons > button {
  border: none;
  font-weight: bold;
}

.left-buttons > button {
  border: none;
  font-weight: bold;
}

.token-controller-content {
  overflow: hidden;
}

[data-event-type=manage-hp] {
  color:white;
  background-color: dodgerblue;
}

[data-event-type=manage-conditions] {
  color:white;
  background-color: black;
}

[data-event-type=manage-defenses] {
  color: white;
  background-color: black;
}

.token-controller-tabs {
  font-size:32px;
  padding-top: 16px;
}

.token-controller-tabs > .item {
  color:grey;
}

.token-controller-tabs > .item.active {
  text-shadow: 0px 0px 10px steelblue;
  color: black;
  opacity: 1;
}

.movement-tab {
  margin-bottom: 50px;
}

.movement-tab > .flexrow > span  {
  text-align: center;
  color: dodgerblue;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  font-size: 64px;
  padding: 10px;
}

.movement-tab > .flexrow.zoom-controls > span  {
  color: black;
  text-shadow: none !important;
}

.mtmc-topleft {
  transform: rotate(-45deg);
}

.mtmc-topright {
  transform: rotate(45deg);
}

.mtmc-left {
  transform: rotate(-90deg);
}

.mtmc-right {
  transform: rotate(90deg);
}

.mtmc-bottomleft {
  transform: rotate(-135deg);
}

.mtmc-bottomright {
  transform: rotate(135deg);
}

.mtmc-bottom {
  transform: rotate(180deg);
}


.character-token {
  border: none;
  height: 64px;
  width: 64px;
}

